.login {
  .login_wrap {
    width: 516px;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  input {
    width: 380px;
    height: 60px;
    padding: 11px 13px !important;
    margin-bottom: 16px !important;
    background-color: #fafafa;
    border-color: #dddddd;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
  }

  button {
    width: 375px;
    height: 60px;
    padding: 11px 13px !important;
    margin-bottom: 16px !important;
    background-color: #fafafa;
    border-color: #09388c;
    border-style: solid;
    border-radius: 3px;
    border-width: 1.5px;
    font-weight: 400;
    font-size: 14px;
    color: #00388c;

    &.signin_button {
      background-color: #09388c;
      color: #ffffff;
    }
  }

  .find_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
    color: #a1a1a1;
    font-size: 14px;

    div {
      padding: 0 0 0 11px;
      background: none;
    }
  }
}
