@mixin flex($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

.login {
  .loginWrap {
    @include flex();
    flex-direction: column;
    width: 516px;
    height: 407px;
    margin: 35;
    margin: 0;
    padding: 0;
  }

  input {
    width: 380px;
    height: 60px;
    margin-bottom: 16px !important;
    padding: 11px 13px !important;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #fafafa;
  }

  button {
    width: 375px;
    height: 60px;
    margin-bottom: 16px !important;
    padding: 11px 13px !important;
    border: 1.5px solid #09388c;
    border-radius: 3px;
    background-color: #fafafa;
    color: #00388c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

    &.signInButton {
      background-color: #09388c;
      color: #ffffff;
    }
  }

  .findWrap {
    @include flex();
    color: #a1a1a1;
    font-size: 14px;

    div {
      padding: 0 0 0 11px;
      background: none;
    }
  }
}
