.productCardList {
  max-width: 400px;

  a {
    text-decoration-line: none;
  }

  .thumbnail {
    position: relative;

    width: 270px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    object-fit: contain;

    .thumbnailImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cartImage {
      position: absolute;
      right: 8%;
      bottom: 10%;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 70%;
    }
  }

  .description {
    margin-bottom: 30px;

    .productName {
      margin: 10px;
      padding-top: 5px;
      font-size: large;
    }

    .productPrice {
      margin-bottom: 30px;
      margin-left: 10px;
      font-size: large;
      font-weight: bold;
    }

    .productInformation {
      margin-left: 10px;
    }
  }
}
