.contents {
  margin: 60px;
  margin-right: 5%;
  margin-left: 5%;
  .ad {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  .listTitle {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }
  .subCategoryBox {
    padding: 40px;
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(166, 168, 170);
    color: black;

    ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .productListMenu {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .sorting {
    float: right;
  }

  .productList {
    margin-bottom: 80px;
    padding: 30px;
    ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
