@mixin flex($justify, $align) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin alignCenterY($position) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin alignCenterAll($position) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
