@import '/src/styles/variables';

.productDetailContainer {
  width: 1018px;
  height: 450px;
  margin: 80px auto;
}

.productDetailArea {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 60px;
}

.productDetailImageArea {
  img {
    width: 430px;
    height: 430px;
    object-fit: cover;
  }
}

.ProductDetailInfoArea {
  width: calc(100% - 490px);
  height: 450px;
}

.productDetailBrandName {
  margin: 0 0 12px;
  color: #00388c;
  font-size: 18px;
  font-weight: 600;
}

.productDetailProductName {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
}

.productDetailDescription {
  color: #999999;
  font-size: 12px;
}
.productDetailQuantityBox {
  width: 100%;
  height: 76px;
}
.productDetailQuantity {
  width: fit-content;
  float: right;

  input {
    width: 45px;
    height: 30px;
  }
}

.productDetailPriceReviewBox {
  @include flex(space-between, center);
  margin: 20px 0 50px 0;
}

.productDetailPrice {
  font-size: 28px;
}

.productDetailReview {
  margin-right: 10px;
}

.productDetailQuantity {
  display: flex;
  justify-content: space-between;
  margin: 22px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #666;

  input {
    text-align: center;
  }
}

.productDetailTotalPriceBox {
  @include flex(flex-end, center);
  padding: 27px 0;

  .productDetailTotalPrice {
    margin-left: 10px;
    color: #00388c;
    font-size: 30px;
    font-weight: 800;
  }
}

.productDetailPrice {
  height: 35px;
  font-size: 28px;
  font-weight: 600;
}

.productDetailQuantityValue {
  border: none;
  outline: 0;
}

.downQuantityBtn,
.upQuantityBtn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ffffff;
}

.productDetailCartButton,
.productDetailOrderButton {
  flex: 1;
  height: 55px;
  border-radius: 5px;
  font-size: 16px;
}

.productDetailCartButton {
  border: 1px solid #00388c;
  background-color: #ffffff;
  color: #00388c;
}
.productDetailOrderButton {
  border: none;
  background-color: #00388c;
  color: #ffffff;
}

.productDetailBtnBox {
  display: flex;
  gap: 16px;
}
.menuTab {
  width: 1018px;
  margin: auto;
}
.tabs {
  display: flex;

  .productDetailTapList {
    flex: 1;
    height: 60px;
    border: 1px solid #dddddd;
    background-color: #fafafa;
    color: #666666;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
  }

  .productDetailTapSelected {
    flex: 1;
    height: 60px;
    border: 1px solid #dddddd;
    border-bottom: none;
    background-color: #ffffff;
    color: #00388c;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
  }
}

.productDetailContent {
  img {
    width: 1018px;
    object-fit: cover;
    margin-top: 30px;
  }
}

.productDetailContent {
  margin: 50px 0;
}
.productReviewTab {
  a {
    font-size: 16px;
  }
  @include flex(space-between, center);
  padding: 16px 0;
  border-bottom: 2px solid black;
  font-size: 20px;
}
.productReviewListBox {
  margin: 100px 0;
  color: #707680;
  line-height: 25px;
  text-align: center;
}
