@import '../../../styles/mixins/flex.scss';

.cartItemWrapper {
  width: 680px;
  height: 120px;
  padding: 20px 0;
  @include flex(flex-start, center);
  flex-direction: row;
  grid: none;

  .cartListWrapper {
    width: 680px;
    display: flex;
    align-items: center;

    input {
      width: 20px;
      height: 20px;
    }
  }
  .checkBoxWrapper {
    img {
      width: 13px;
      height: 13px;
    }
  }
  .itemImg {
    margin-left: 13px;
    img {
      width: 80px;
      height: 80px;
    }
  }
  .cartItemInfo {
    @include flex(space-between, center);
    flex-direction: row;
    width: 600px;
    margin-left: 10px;

    .qtyWrapper {
      width: 250px;
      flex-direction: row;
      @include flex(space-between, center);
    }
    .qtyButtonWrapper {
      width: 88px;
      height: 30px;
      @include flex(space-between, center);
      border: 0.8px solid #dddddd;
      border-radius: 3px;
    }

    Button {
      border: 0;
      outline: 0;
      background-color: white;
    }
  }
}
