.navCategoryWrap {
  padding-top: 30px;
  background-color: transparent;
  position: absolute;
  .categoryList {
    background-color: lightblue;
    width: 250px;
    height: 200px;
    position: absolute;
  }
  .categoryListMain {
    font-size: 18px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 50px;
    }
  }
}
