.footer {
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #1c1c1c;
  color: #999999;
}

a {
  border-bottom: solid;
  color: #999999;
  text-decoration-line: none;
}

.footerarea1 {
  display: flex;
  gap: 70px;
  align-items: center;
  margin-left: 30px;
  padding-bottom: 20px;
}

.footerarea2 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  line-height: 140%;
}
.footerarea2-1-p {
  margin: 20px;
}

.footerarea2-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerarea2-2-1 {
  margin-bottom: 12px;
}
.kakaotalk-icon {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.kakaotalk-channel {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}
.company-information {
  display: flex;
}
.company-number {
  margin-right: 20px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;

  line-height: 140%;
}

.company-live-time {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.footerarea3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.footerarea3-1 {
  display: flex;
  align-items: center;
}
.footerarea3-1 hr {
  width: 1px;
  height: 10px;
  margin: 20px;
}

.v-line {
  height: 10px;
  margin: 15px;
  border-left: solid;
}
