@mixin font($font-size, $text-align) {
  font-size: $font-size;
  text-align: $text-align;
}

@mixin flex($display, $align-items, $justify-content) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin mobileSize {
  width: 100px;
  height: 60px;
}

@mixin signupWrap {
  margin-top: 30px;
  display: block;
  text-align: left;
}

.signUp {
  width: 665px;
  margin: 30px;
  .signupTop {
    margin-bottom: 30px;
    border-bottom: 1px solid;

    h2.signupTitle {
      @include font(38px, center);
      padding: 52px 52px 97px 52px;
      font-weight: bolder;
    }

    h3.signupSubtitle {
      @include font(29px, left);
    }

    p.signupRequired {
      @include font(13px, right);
    }
  }

  .userInfo {
    display: block;
    text-align: left;
  }
}

.form {
  margin: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.agreeWrap {
  display: flex;
  align-items: center;
}

.formTitle {
  width: 170px;
}

input {
  width: 380px;
  height: 60px;
  padding: 11px 13px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  outline: none;
}

::placeholder {
  color: #dddddd;
}

.agreeWrap {
  margin: 30px;
  display: flex;
  align-items: center;
}

.agreeTitle {
  margin-left: 0px;
  width: 170px;
}

input[type='checkbox'] {
  background: url('../../../public/images/check.png') no-repeat center;
  background-size: 40px 40px;
  cursor: pointer;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #999;
  transition: background 0.2s;
  margin-right: 20px;
}

input[type='checkbox']:checked {
  background: url(../../../public/images/checked.png) no-repeat center;
  background-size: 40px 40px;
}

label {
  font-size: 35px;
}

.signUpInputMobile {
  margin: 30px;
  display: flex;
  .phonNumberTitle {
    margin-left: 0px;
    width: 170px;
  }
  .mobileCenter {
    @include mobileSize();
  }
  .mobileLast {
    @include mobileSize();
  }
  .agreeWrap {
    @include signupWrap();
  }
  .mobileInfo {
    @include flex(flex, center, space-between);
    select {
      @include mobileSize();
    }
  }
  //뭐여
  .signupBox {
    display: flex;
    justify-content: center;
  }
  .signupButton {
    cursor: pointer;
    width: 258px;
    height: 35px;
    margin: 5px;
    display: block;
    border: none;
    background-color: #0095f6;
    color: white;
  }
}
