@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin columnFlex($fd: column, $as: flex-start) {
  display: flex;
  flex-direction: $fd;
  align-self: $as;
}

$primary-color: #00388d;
